body {
    text-align: center;
    background-color: plum;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* Title */
h1 {
    font-family:cursive;
    color: black;

}
img {
    margin-top: .5em;
}

p {
    margin-top: .5em;
}

button {
    margin: 5px;  
}